@using Microsoft.AspNetCore.Identity
@using EPIFlow.Infrastructure.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form class="d-inline" asp-area="Identity" asp-page="/Account/Logout" method="post">
        <button type="submit" class="btn btn-sm btn-outline-light">
            <i class="fas fa-sign-out-alt me-1"></i> Sair
        </button>
    </form>
}
else
{
    <a class="btn btn-sm btn-primary" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
}
